<!DOCTYPE html>
<html>

<head>
    <title>Add Company</title>
</head>

<body>
    <form action="/addcompany" method="POST">
        <div>
            <label for="c_id">Company ID: </label>
            <input name="c_id">
            <br><br>
        </div>
        <div>
            <label for="c_name">Company Name: </label>
            <input name="c_name">
            <br><br>
        </div>
        <div>
            <label for="category">Job Category: </label>
            <input name="category">
            <br><br>
        </div>
        <div>
            <label for="type">Type: </label>
            <input name="type">
            <br><br>
        </div>
        <div>
            <label for="city">City: </label>
            <input name="city">
            <br><br>
        </div>
        <div>
            <label for="qualification">Expected Qualifications: </label>
            <input name="qualification">
            <br><br>
        </div>
        <button type="submit">Create Opening</button>
    </form>
</body>

</html>