<!DOCTYPE html>
<html>

    <head>
        <title>Login</title>
    </head>
    <link rel="stylesheet" href="css/signupstyle.css">

    <body>
        <div class="outer">
            <h1>ADD UNIVERSITY</h1>
            <div class="inner">
                <form action="/adduniversity" method="POST">
                    <table>
                        <tr>
                            <td><input name="u_name" placeholder="University Name"></td>
                        </tr>
                        <tr>
                            <td><input name="category" placeholder="Category"></td>
                        </tr>
                        <tr>
                            <td><input name="type" placeholder="Type"></td>
                        </tr>
                        <tr>
                            <td><input name="city" placeholder="City"></td>
                        </tr>
                        <tr>
                            <td><input name="duration" placeholder="Duration"></td>
                        </tr>
                        <tr>
                            <td><input name="qualification" placeholder="Qualification"></td>
                        </tr>
                    </table>
                    <center><button type="submit">Create</button></center>
                </form>
            </div>
            <p onclick="history.back()" style="cursor: pointer;">Back</p>
            </div>
    </body>

</html>