<!DOCTYPE html>
<html>

<head>
    <title>All Applications</title>
</head>

<link rel="stylesheet" href="css/fulltime.css">

<style>
html {
    background: linear-gradient(60deg, rgb(4, 99, 20), rgb(132, 255, 0)) no-repeat center center fixed;
}
    .listings:hover {
    max-width: 500px;
    min-width: 500px;
    padding-top: 2px;
    padding-bottom: 2px;
}
</style>

<body>
    <div class="outer">
        <div class="inner">
        <h1>Available Openings</h1>
        <br>
        <% info.forEach(info=> {%>
            <div class="listings" onclick="submitvals(this)">
                <h2><%= info.c_name %></h2>
                <p><%= info.status %> </p>
                <p><%= info.type %> </p>
            </div>
        <% }) %>
        <ul>
            <li onclick="history.back()">Back</li>
        </ul>
        </div>
        </div>
        </body>
        </html>
