::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
  }
  
  ::-moz-placeholder {
    color: rgb(0, 0, 0);
  }
  
  :-ms-input-placeholder {
    color: rgb(0, 0, 0);
  }
  
  :-moz-placeholder {
    color: rgb(0, 0, 0);
  }
  
  html {
    background: linear-gradient(60deg, rgb(21, 21, 32), rgb(25, 100, 110)) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .transition-fade {
    opacity: 1;
    transform: translateX(0);
    transition: 500ms;
    transform-origin: left;
  }
  
  html.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(100%);
  }
  
  html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(0);
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Century Gothic';
  }
  
  .outer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    padding-top: 25px;
  }
  
  .inner {
    background-image: linear-gradient(60deg, rgb(9, 158, 78), rgb(6, 213, 113));
    color: rgb(98, 0, 210);
    padding: 0px 50px 20px 20px;
    border-radius: 25px;
    transition: padding 500ms;
  }
  
  .inner:hover {
    padding: 0px 80px 40px 40px;
  }
  
  input {
    width: 100%;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    font-family: 'Century Gothic';
    background-color: rgba(255, 255, 255, 0.298);
    transition: border 500ms;
  
  }
  
  input:hover,
  input:focus {
    background-color: rgba(255, 255, 255, 0.469);
  }
  
  button {
    outline: none;
    border: none;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 20px;
    height: 50px;
    width: auto;
    font-size: 20px;
    font-family: 'Century Gothic';
    background-color: rgba(255, 255, 255, 0.136);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button:hover {
    background-color: rgba(255, 255, 255, 0.856);
  }

  p:hover {
      cursor: pointer;
  }
  