<!DOCTYPE html>
<html>

<head>
    <title>Applications</title>
</head>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<body style="font-family: 'Century Gothic'; background-image: linear-gradient(60deg, rgb(121, 0, 250), rgb(255, 166, 0));  min-height: 50vw;">
    <div style="display:flex; align-items: center; justify-content: center;">
    <h2>Your application to <%= info %>!</h2>
    </div>
    <div
        style="display:flex; align-items: center; justify-content: center; flex-direction: column; padding: 50px; padding-top: 25px;">
        <div style="background-color: rgb(36, 36, 36); color: white; padding: 25px; border-radius: 25px;">
    <form action="/application" method="post">
        <label for="usrname">Your Name:</label>
        <input name="usrname" type="text" value="<%=usrname%>" class="form-control" style="background-color: rgb(36, 36, 36); margin:5px;"> <br>
        <label for="pos">Desired Position: </label>
        <input name="pos" type="text" class="form-control" style="background-color: rgb(36, 36, 36); margin:5px;"> <br>
        <label for="resume">Your Resume: </label> <br>
        <input type="file" name="resume"> <br><br>
        <center><button type="submit">Submit Application</button></center>
        
    </form>
    </div></div>
</body>

</html>