<!DOCTYPE html>
<html>

    <head>
        <title>Login</title>
    </head>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/swup/2.0.14/swup.js"></script>
    <script defer src="js/signup.js"></script>
    <link rel="stylesheet" href="css/application.css">

    <body>

        <div class="outer">
            <h1>Application to <%= info %></h1>
            <div class="inner">
    <form action="/application" method="post">
        <table>
            <input name="comp" type="hidden" value="<%= info %>">
            <tr>
                <td><input name="usrname" type="text" value="<%=usrname%>" placeholder="Name"></td>
            </tr>
            <tr>
                <td><input name="pos" type="text" placeholder="Desired Position"></td>
            </tr>
            <tr>
                <td><input placeholder="Resume Link" type="text" name="resume"></td>
            </tr>
        </table>
        <center><button type="submit">Apply</button></center>
    </form>
    </div>
    <br>
            <p onclick = history.back()>Back</p>
</div>
</body>

</html>