<!DOCTYPE html>
<html>

    <head>
        <title>Fulltime Jobs</title>
    </head>
    <link rel="stylesheet" href="css/categories.css">
    <script>
        function submitvals(a) {
            a.getElementsByTagName('form')[0].submit();
        }
    </script>

    <body>
        <ul>
            <li onclick=history.back()>Back</li>
            <li style="float:right; border-radius: 50px; background-color: aliceblue; color: black;">
                <%= usrname %>
            </li>
        </ul>
        <div class="outer">
            <div class="inner">
                <h1>Available Job Categories</h1>
                <% categories.forEach(categories=> {%>
                    <div class="listings" onclick="submitvals(this)">
                        <h2>
                            <%= categories.job_type %>
                        </h2>
                        <form action="/categories" method="post">
                            <input name="category" type="hidden" value="<%= categories.job_type %>">
                            <input name="usrname" type="hidden" value="<%= usrname %>">
                        </form>
                    </div>

                    <% }) %>

            </div>
        </div>
    </body>

</html>