<!DOCTYPE html>
<html>
    <head>
        <title>Testing Forms</title>
    </head>
    <body>
        <form action="/" method="POST">
            <div>
                <label for="say">Say:</label>
                <input name="say" value="hi">
                <br>
            </div>
            <label for="to">To:</label>
            <input name="to" value="Express Forms">
            <br>
            <button type="submit">Greetings!</button>
        </form>
    </body>
</html>