<!DOCTYPE html>
<html>
    <head>
        <title>MAIN</title>
    </head>
    <link rel="stylesheet" href="css/index.css">

    <body>
        <div class="outer">
            <div class="inner">
                <h1>METIER</h1>
        <a href="login">User Login</a> <br>
        <a href="company_login">Company Login</a> <br>
        <a href="university_login">University Login</a> <br>
        </div>
        </div>
    </body>
</html>