<!DOCTYPE html>
<html>
    <head>
        <title>Main</title>
    </head>
    <body>
        <a href="login">User Login</a> <br>
        <a href="company_login">Company Login</a> <br>
        <a href="university_login">University Login</a> <br>
    </body>
</html>