<!DOCTYPE html>
<html>

    <head>
        <title>Login</title>
    </head>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/swup/2.0.14/swup.js"></script>
    <script defer src="js/signup.js"></script>
    <link rel="stylesheet" href="css/signupstyle.css">

    <body>
        <main id="swup" class="transition-fade">
            <div class="outer">
                <h1>LOGIN</h1>
                <div class="inner">
                    <form action="/login" method="POST">
                        <table>
                            <tr>
                                <td><input name="username" placeholder="User name"></td>
                            </tr>
                            <tr>
                                <td><input name="password" placeholder="Password"></td>
                            </tr>
                        </table>
                        <br>
                        <center>
                            <button type="submit">Login</button>
                        </center>
                    </form>
                </div>
                <br>
                <br>
                <a href="/signup" style="color:rgb(215, 121, 255);">Sign up if you're new!</a>
                <br>
                <br>
                <a href="/" style="color:rgb(215, 121, 255);">Back to Homepage</a>
            </div>
        </main>
    </body>
