<!DOCTYPE html>
<html>

    <head>
        <title>Openings</title>
    </head>
    <link rel="stylesheet" href="css/openings.css">

    <body>
        <div class="outer">
            <div class="inner">
                <ul>
                    <li style="float:right; border-radius: 50px; background-color: pink; color: black;">
                        <%= usrname %>
                    </li>
                </ul>
                <h1>Available Openings</h1>
                <br>
                <div class="listings">
                    <a href="/fulltime?usrname=<%=usrname%>">Fulltime Jobs</a>
                </div>
                <br><br>
                <div class="listings" onclick="submitvals(this)">
                    <a
                        href="internships?usrname=<%=usrname%>">Internships</a>
                    </div>
                    <ul>
                        <li onclick="history.back()">Back</li>
                    </ul>
            </div>
        </div>
    </body>
</html>