<!DOCTYPE html>
<html>

    <head>
        <title>Signup</title>
    </head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/swup/2.0.14/swup.js"></script>
    <script src="js/signup.js"></script>
    <link rel="stylesheet" href="css/signupstyle.css">

    <body>
        <main id="swup" class="transition-fade">
            <div class="outer">
                <h1>SIGNUP</h1>
                <div class="inner">
                    <form action="/signup" method="POST">
                        <table>
                            <tr>
                                <td><input name="username" placeholder="User name"></td>
                            </tr>
                            <tr>
                                <td><input name="password" placeholder="Password"></td>
                            </tr>
                            <tr>
                                <td><input name="age" placeholder="Age"></td>
                            </tr>
                            <tr>
                                <td><input name="Email" placeholder="Email"></td>
                                <br><br>
                            </tr>
                            <tr>
                                <td>
                                    <input id="type" name="type" placeholder="Type">
                                </td>
                            </tr>
                        </table>
                        <br>
                        <center>
                            <button type="submit">Signup</button>
                        </center>
                    </form>
                </div>
                <br>
                <br>
                <a href="/login" style="color:rgb(215, 121, 255);">Existing User? Login here</a>
                <br>
                <br>
                <a href="/" style="color:rgb(215, 121, 255);">Back to Homepage</a>
            </div>
        </main>
    </body>
</html>